/* Override Baseline Styles */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Site Styles */

.band.header {
    background-color: #923e2c;
}

.band.footer {
    background-color: #696969;
}