/* Override Baseline Styles */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 1.7em;
}

p {
    line-height: 1.4;
}

img {
    max-width: 100%;
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
}

h1,h2,h3,h4,h6 {
    color: #cf2b08;
}

h5 {
    color: #923e2c;
}

#content {
    margin-bottom: 2.5rem;
}

#content h3 {
    margin-top: 2.5rem;
}

#content div.row.u-full-width {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Site Styles */

.band.header {
    background-color: #f6f6f6;
}

.band.navigation {
    background-color: #923e2c;
}

.band.footer {
    background-color: #696969;
}

#logo {
    text-align: center;
    padding-top: 1rem;
}

#navigation ul {
    display: block;
} 

#navigation ul li {
    display: inline;
    float: left;
    position: relative;
    margin: 0;
}

#navigation ul li a {
    display: inline-block;
    float: left;
    line-height: 49px;
    padding: 0 21px;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #ffffff;
    letter-spacing: 0.08em;
}

#navigation ul li a:hover {
    background-color: #cf2b08;
    color: #ffffff;
    cursor: pointer;
}

#footer {
    height: 75px;
    position: relative;
}

#footer p {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -15px;
    color: #f6f6f6;

}

/* Responsive Slides */

.caption {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    text-align: center;
    background: #343434;
    background: rgba(52,52,52,.4);
    color: #fff;
}

/* Responsive Table */

table, thead, tbody, th, td, tr {
    display: block;
    width: 100%;
    text-align: center;
    vertical-align: top;
} 

th, td {
    padding: 0;
    border: none;
}

/* Responsive Images with Captions */

.image-container { 
    position: relative; 
    width: 100%;
    margin: 0 auto 2.5rem;
}

.image-container img {
    border-radius: 5px;
}

.image-container p.caption { 
    position: absolute;  
    left: 0; 
    width: 100%;
}

/* Page Styles */

/* Index */

#tagline {
    display: block;
    float: none;
    text-align: center;
    line-height: 2;
    font-size: 1.5rem;
    color: #343434;
    letter-spacing: 1.4px;
    font-weight: bold;
}

#portfolio img {
    border-radius: 5px;
}

#csa {
    text-align: center;
}

#csa img {
    display: inline-block;
}

/* Contact */

#contact h4 {
    color: #121212;
    text-align: center;
}

#contact h4:not(:last-child) {
    margin-bottom: .6rem;
}

#staff {
    line-height: 1.3;
}

#staff tr {
    margin-bottom: 3rem; 
}

#staff td:first-child {
    font-weight: bold;
}

/* Services */

.services {
    line-height: 1.3;
}

.services td {
    margin-bottom: 2rem;
}

#supplier {
    height: 100%;
    text-align: center;
    margin: 0 auto;
}

#supplier img {
    max-width: 200px;
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}

#supplier img:nth-child(2) {
    margin-top: 2.6rem;
}

/* Fabrication */

#custom.rslides {
    margin: 0 auto;
}

#custom.rslides img {
    height: 172px;
    border-radius: 5px;
}

#plasma-container { 
    position: relative; 
    width: 396px;
    margin: 0 auto;
}

#plasma-container img {
    border-radius: 5px;
}

#plasma-container p { 
    position: absolute;  
    left: 0; 
    width: 100%;
}

/* Media Queries */

@media screen and (min-width: 750px) {

    h1,h2,h3,h4,h5,h5,h6 {
        text-align: left;
    }

    table {
        display: table;
    }

    thead, tbody {
        display: table-row-group;
    }

    tr {
        display: table-row;
    }

    th, td {
        display: table-cell;
        padding-right: 2%;
    }    

    .image-container {
        margin-top: 0;
        margin-bottom: 0;
    }

    #navigation ul {
        display: block;
    }     

    #tagline {
        float: right;
    }

    #staff td {
        min-width: 175px;
        width: 23%;
        vertical-align: top;
        line-height: 1.2;
        padding-bottom: 2rem;
        text-align: left;
    }

    .services td {
        min-width: 150px;
        width: 30%;
        vertical-align: top;
        line-height: 1.2;
        padding-bottom: 2rem;
        padding-right: 3%;
    }

    #supplier {
        text-align: center;
    }

    #supplier img {
        display: inline-block;
    }

    #supplier img:nth-child(2) {
        margin-top: 0;
        padding-left: 3rem;
    }


}